<html>
<head>
    <title>Security</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>


<div>

    {{#if message}}
        <p>Message from server: <b>{{message}}</b></p>
    {{/if}}

    {{{body}}}


</div>

</body>
</html>