
<h1>DO NOT USE THIS SITE!!! IT IS NOT SECURE!!</h1>

<h3>Register</h3><br/>
<form action="/register" method="post">
    <div>
        <label>Username:</label><br/>
        <input type="text" name="username"/>
    </div><br/>
    <div>
        <label>Password:</label><br/>
        <input type="password" name="password"/>
    </div><br/>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>


<h3>Login</h3><br/>
<form action="/login" method="post">
    <div>
        <label>Username:</label><br/>
        <input type="text" name="username"/>
    </div><br/>
    <div>
        <label>Password:</label><br/>
        <input type="password" name="password"/>
    </div><br/>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>